.product-list {
    display: grid;
    /* flex-direction: row; */
    grid-template-columns: repeat(auto,3);
    flex-wrap: wrap;
  }
  
  .product-item {
    flex: 0 0 calc(33.33% - 20px); /* Adjust the width as needed */
    margin: 10px;
  }